* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* variables */
:root {
    --navbar-height: 50px;
    --deep-red: #B10002;
}

html {
  scroll-behavior: smooth;
}

/* górny pasek nawigacji */
nav {
  width: 100%;
  height: var(--navbar-height);
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* 1) linki */
nav a {
  text-decoration: none;
  color: #000;
  padding: 0 10px;
}

/* 2) przedziałki między linkami */
nav a:nth-of-type(1),
nav a:nth-of-type(2) {
    border-right: 3px solid var(--deep-red);
}

/* główna część strony */
main {
  margin-top: var(--navbar-height);
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  overflow-x: hidden;
}

/* kontener ograniczający szerokość */
main .container {
  max-width: 1000px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 1.5rem;
}

/* elementy karuzeli */
#carousel {
  overflow-x: hidden;
  margin-bottom: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.carousel__viewport {
  display: flex;
  height: 214px;
  width: 800px;
  overflow-x: hidden;
}

/* To jest ruchoma tacka z obrazkami */
.carousel__tray {
  height: 100%;
  display: flex;
  transition: 2s;
}

/* To są nasze obrazki */
.carousel__tray > div {
  height: 100%;
  width: 800px;
}

.logo {
  margin-top: -50px;
  width: 900px;
  z-index: 1;
}

/* tzw. "wąsy" i logo chcemy pokazać na mniejszych szerokościach */
.responsive-brackets-and-logo {
  position: relative;
  width: 100%;
  display: flex;
  height: auto;
  min-height: 100px;

  justify-content: center;
  margin: 50px 0 15px;
}

.responsive-brackets-and-logo img.bracket {
  max-width: 100%;
  margin-top: 80px;
}
.responsive-brackets-and-logo img.logo {
  width: 150px;
  position: absolute;
}

/* dwie poniższe klasy istnieją tylko po to,
by zmienić im właściwości na szerszych ekranach */
.horizontal-if-wide {
    display: flex;
    flex-direction: column;
}

.half-if-wide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ogólnie o sekcjach */
section {
  width: 100%;
  padding: var(--navbar-height) 0 0;
  text-align: center;
}

/* tytuły sekcji */
section h2 {
  color: var(--deep-red);
  font-size: 1.3em;
  margin-bottom: 20px;
}

/* ikona świętej */
#icon {
  max-width: 210px;
  margin-top: 35px;
}

/* cele są:
1) dorównane do lewej;
2) mają zniknięte domyślne kropki (wstawimy czerwone niżej)
3) zrównane z tytułem paddingiem i ograniczoną maksymalną szerokością */
section#cele ul {
  text-align: left;
  list-style: none; /* Remove default bullets */
  padding: 0 0 0 85px;
  max-width: 450px;
}

/* przerwy między celami */
ul li {
  margin: 20px 0;
}

/* nie chcemy podwójnego marginesu przy pierwszym punkcie (jako że mamy też
dolny margines of tytułu sekcji) */
ul li:first-of-type {
  margin: 0;
}


/* nasze czerwone kropeczki wypunktowania */
ul li::before {
  content: "\2022";  /* kod na kropkę */
  color: var(--deep-red); /* nasz kolor */
  font-weight: bolder; /* niech będzie większa */
  font-size: 44px; /* jej rozmiar */
  display: inline-block; /* przerwa między nią a tekstem */
  width: 1em; /* też potrzebny dla przerwy*/
  margin-left: -1em; /* Also needed for space (tweak if needed) */

  line-height: 16px;
  vertical-align: top;
}

/* RWD */

@media only screen and (min-width: 900px) {
	main .horizontal-if-wide {
    flex-direction: row;
    padding: 50px 0;
  }
  
  #icon {
    margin-top: 0;
  }
	
	.half-if-wide {
		width: 50%;
  }

  #carousel {
    display: flex;
  }

  .responsive-brackets-and-logo {
    display: none;
  }
}