* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* variables */
:root {
    --navbar-height: 50px;
    --deep-red: #B10002;
}

html {
    scroll-behavior: smooth;
}
nav {
    width: 100%;
    height: var(--navbar-height);
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: var(--deep-red);
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    line-height: 0px;
}

nav a:nth-of-type(1),
nav a:nth-of-type(2) {
    border-right: 3px solid var(--deep-red);
}

main {
    margin-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    padding: 10vw;
}

.main-img {
    max-width: 210px;
}

/* RWD */
main section {
    max-width: 750px;
    padding: var(--navbar-height) 0 0;
    text-align: center;
}

section#cele ul {
    text-align: left;
}



ul li {
    margin: 10px 0;
}

ul {
    list-style: none; /* Remove default bullets */
    padding: 0 67px;
    max-width: 450px;
  }
  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--deep-red); /* Change the color */
    font-weight: bolder; /* If you want it to be bold */
    font-size: 32px;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }